{% extends "layout.html" %}

{% block title %}

Experience

{% endblock %}

{% block main %}
<div class="divContent2">
    <div class="bg-white shadow-lg p-3 mb-5 divContent3">
        <p style="font-family:Barlow;"> 
            Hi! I'm Michael Moorman, a junior at Harvard studying math and computer science, with a special interest in machine learning and cryptography.
        </p>
    </div>
    <div class="bg-white shadow-lg p-3 mb-5 divContent3"> 
        fjhhjf
    </div>
</div>

{% endblock %}