{% extends "layout.html" %}

{% block title %}

Home

{% endblock %}

{% block main %}

<div>
    <div class="shadow-lg p-3 mb-5 bg-white divContent1">
        <img style="width: 200px; height: auto; margin: auto;" src="/static/face.jpeg">
    </div>
    <div class="divContent2 shadow-lg p-3 mb-5 bg-white ">
        <p style="font-family:Barlow;"> 
            Hi! I'm Michael Moorman, a junior at Harvard studying math and computer science, with a special interest in machine learning and cryptography.
        </p>
    </div>
    <div class="divContent2 shadow-lg p-3 mb-5 bg-white ">
        <p style="font-family: Barlow;">You can find a little bit of info about me here, but if you'd like to know more or chat with me, feel free to reach out to me via <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/michael-moorman-01547b205/">LinkedIn</a> or through my email, <a href="mailto:mmoorman@college.harvard.edu">mmoorman@college.harvard.edu</a>.</p>
    </div>
</div>

{% endblock %}